* {
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
  display: inline;
}

.right img {
  width: 148px;
  height: 70px;
  display: inline;
  position: absolute;
  margin: 5px 220px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

header li {
  margin: 0 19px;
}

nav {
  background-color: rgb(11, 11, 11);
  height: 90px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
body {
  background-color: black !important;
}
ul a {
  text-decoration: none;
  color: white;
  margin: 0px 100px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul button {
  border-radius: 90px;
  background-color: black;
  height: 50px;
  width: 130px;
  margin: 20px 12px;
}

ul button li {
  color: white;
  font-size: 13px;
  justify-content: left;
  font-family: "Times New Roman", Times, serif;
}

.stylish-btn {
  background-color: rgb(244, 29, 29);
  color: white;
}

.left {
  margin: 0 80px;
}

span .arrow {
  font-size: 14px;
  margin: 6px 11px;
  background-color: rgb(219, 210, 210);
}

span button {
  border-radius: 490px;
  font-size: 30px;
  background-color: white;
}

.welcome {
  text-align: center;
  background-color: black;
  color: white;
  margin: 70px 0px;
}

.logo-text-hold {
  font-family: "futurak";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  color: #e20404;
}

.box-container {
  display: flex;
  width: 50vw;
  height: auto;
  margin: 29px 0px 0px 260px;
}

.box {
  background-color: black;
  margin: 0px 0px 0px 76px;
  height: 67px;
  width: auto;
  background-color: white;
}

.buttons-btn {
  margin: 100px 28px 88px -141px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.btn {
  margin: 0px -12px 0px 155px;
  color: rgb(13, 6, 6);
  text-decoration: none;
  background-color: white;
}

.btn button {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 60px;
}

.btn button:hover {
  background-color: white;
  color: black;
}
